@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body {
    background-color: black;
    color:white
}

/* Navigation bar */
#scrollablePlaceDiv{
    height: 100px;
    overflow-y: auto
}

#collapsibleNavbar {
    justify-content: flex-end;
}
#ulnav{
    left:0;
    flex-direction: row-reverse;
}
.edit-createButton {
    display:flex;
    margin-left: 20px;
    margin-right: 20px;
}

#travelNav {
    height: 100px;
    font-family: 'Quicksand', sans-serif;
    background-color: orange
}  
.btn {
    margin-left: 40px;
}
/* TRAVEL JOURNAL FONT SIZE */
.navbar-brand {
    font-size: 2rem;
}
/* ALL POSTS FONT SIZE */
#navbardrop {
    /* margin-right: 15px; */
    font-size: 1.25rem;
    color: white;
}


#listLandmarkContainer, #listRestaurantContainer {
    list-style-type: none;
    padding: 0;
}

#flexBlog {
    display:flex;
    justify-content: center;
}
/* CONTENT */
#listOneBlog {
    /* grid-row: 1/2;
    grid-column: 1/2; */
    width: 100%;
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Quicksand', sans-serif;
}
/* CENTER CONTENT */
.oneBlog {
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* TITLE */
.headingTitle {
    font-size: 5rem;
    margin-bottom: 30px
}
/* PARAGRAPHS */
#paraDiv {
    margin-left: 13%;
    margin-right: 12%;
}
p {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.favoriteHeading, .leastFavoriteHeading, h3.landmarkHeading, h3.restaurantHeading, span.ratingHeading {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 3px solid orange;
    padding-bottom: 3px;
    width: max-content
}
/* Landmark and Restaurant */
.landRestDiv {
    display:flex;
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
}
#landmarkDiv, #restaurantDiv {
    width: 100%;
}
h3.landmarkHeading, h3.restaurantHeading {
    margin: 0 auto;
}

/* RATING */
.ratingDiv {
    width: 74%;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}
span.ratingHeading {
    font-size: 3rem
}

/* IMAGE COVER */
.image-cover {
    width: 75%;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 768px){

    .headingTitle {
        font-size: 4rem;
    }

    #ulnav {
        flex-direction: column;
    }
     #travelNav{
        height:auto
    } 
    /* TRAVEL JOURNAL FONT SIZE */
    .navbar-brand {
        font-size: 1.5rem;
    }
    /* ALL POSTS FONT SIZE */
    #navbardrop {
        /* margin-right: 15px; */
        font-size: 1rem;
    }
    .btn{
        margin-left: 0px;
        margin-right: 15px;
    }
    
    .edit-createButton {
        margin-left: 0px
    }
   
    .landRestDiv{
        display: flex;
        flex-direction: column;
    }
    #landmarkDiv, #restaurantDiv {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    

}

@media screen and (max-width: 500px){
    .image-cover {
        width: 100%;
        display: block;
    }
    button[data-target="#createModal"], button[data-target="#editModal"] {
        width: 73px;
        height: 36px;
        font-size: 15px;
    }
   #submit-delete {
        background-color: red;
    }

    .headingTitle {
        font-size: 2.75rem;
    }

    p {
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    
    .favoriteHeading, .leastFavoriteHeading, h3.landmarkHeading, h3.restaurantHeading{
        font-size: 1.5rem;
    }
    /* Landmark, Restaurant, Rating Paragraphs */
    .landRestDiv {
        font-size: 1rem;
    }
    span.ratingHeading {
        font-size: 2rem
    }
    .ratingDiv {
        font-size: 1.5rem;
    }

    
}