@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;500&display=swap');

body {
    background-color: black;
    color:white
}

/* Navigation bar */
#scrollablePlaceDiv{
    height: 100px;
    overflow-y: auto
}

#travelNav {
    height: 100px;
}  

.btn {
    margin-left: 40px;
}

.edit-createButton {
    display:flex;
    margin-left: 20px;
    margin-right: 20px;
}

#ulnav{
    left:0
}
#listLandmarkContainer, #listRestaurantContainer {
    list-style-type: none;
    padding: 0;
}

#flexBlog {
    display:flex;
    justify-content: center;
}
/* CONTENT */
#listOneBlog {
    /* grid-row: 1/2;
    grid-column: 1/2; */
    width: 100%;
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
/* Paragraphs */
#paraDiv {
    margin-left: 13%;
    margin-right: 12%;
}

/* Landmark and Restaurant */
.landRestDiv {
    display:flex;
}
#landmarkDiv, #restaurantDiv {
    width: 100%;
    margin-left: 13%;
}

/* RATING */
.ratingDiv {
    text-align: center;
}
/* IMAGE COVER */
.image-cover {
    width: 75%;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 768px){
    #collapsibleNavbar{
        justify-content: inherit;
    }  
     #travelNav{
        height:auto
    } 
    .btn{
        margin-left: 0px;
        margin-right: 15px;
    }
    .edit-createButton {
        margin-left: 0px
    }

}

@media screen and (max-width: 500px){
    .landRestDiv{
        display: flex;
        flex-direction: column;
    }
    #landmarkDiv, #restaurantDiv {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .image-cover {
        width: 100%;
        display: block;
    }
}