@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;500&display=swap');



/* Navigation bar */

.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #121318;
    color: white;
    height: 100px;
    align-items: center;
    font-family: 'Zilla Slab', serif;
    border-bottom: 3px solid white;
    font-size: 2em;
}

.right-burger{
    display: none;
}

.div-burger {
    width:0px;
}
.whitelinks:link{
    text-decoration: none;
    color: white;
}
.whitelinks:visited{
    text-decoration: none;
    color: white;
}
.whitelinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.whitelinks:active {
    color: red;
}

.blacklinks:link{
    text-decoration: none;
    color: white;
}
.blacklinks:visited{
    text-decoration: none;
    color: white;
}
.blacklinks:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.blacklinks:active {
    color: red;
}

/* REMOVE BULLET POINTS AND REMOVE PADDING TO ALIGN TEXT LEFT */
ul {
    list-style-type: none;
    padding: 0
}


#gridBlogs {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 0.25fr 0.75fr;
    
}
/* SIDE BAR */
#listAllBlogs {
    grid-row: 1/2;
    grid-column: 3/4;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}
/* CONTENT */
#listOneBlog {
    grid-row: 1/2;
    grid-column: 1/2;
    padding-top: 15px;
    margin-left: 15px;
    align-self: center;
}
/* SIDEBAR */
.placeDiv {
    padding-bottom: 5px;
    border: 1px solid black;
}

/* Landmark and Restaurant */
.landRestDiv {
    display:flex;
}
#landmarkDiv, #restaurantDiv {
    width: 100%
}

/* IMAGE COVER */
.image-cover {
    width: 100%;
    display: block;
}
@media screen and (max-width:599px) {
    .burger::before {
        content:'\2630';
        font-size: 50px;
        color: white;
        float: right;
    }
    .xcross::before {
        content:'\2715';
        font-size: 50px;
        color: white;
        float: right;
    }
    .right-nav {
        margin-right: 0;
    }
    /* To hide the original top navigation at width less than 599px */
    .hidden{
        display: none;
    }
    /* The bottom navigation will be remain hidden until .show class is added to .right-burger through jQuery */
    .right-burger {
        display:none;
    }
    .show {
        display: block;
        width: 100%;
        text-align: center;
        font-family: 'Zilla Slab', serif;
        font-size: 1.25em;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: black;
    }
    .bottom-nav-name, .bottom-nav-allPosts {
         padding-bottom: 15px;
    }


    #listOneBlog {
        margin-left: 5px;
    }
}